*
!.gitignore
!.git-preserve-permissions
# /root/.bashrc
/*
!/root
/root/*
!/root/.bashrc

# /kataribe.toml
/*
!/kataribe.toml

# /home/ishocon/benchmark_wrap.sh
/*
!/home
/home/*
!/home/ishocon
/home/ishocon/*
!/home/ishocon/benchmark_wrap.sh

# /home/ishocon/.bashrc.backup
/*
!/home
/home/*
!/home/ishocon
/home/ishocon/*
!/home/ishocon/.bashrc.backup

# /home/ishocon/.bashrc
/*
!/home
/home/*
!/home/ishocon
/home/ishocon/*
!/home/ishocon/.bashrc

# /home/ishocon/db_init.sh
/*
!/home
/home/*
!/home/ishocon
/home/ishocon/*
!/home/ishocon/db_init.sh

