*
!.gitignore
!.git-preserve-permissions
# /root/.bashrc
/*
!/root
/root/*
!/root/.bashrc

# /kataribe.toml
/*
!/kataribe.toml

# /home/ishocon/benchmark_wrap.sh
/*
!/home
/home/*
!/home/ishocon
/home/ishocon/*
!/home/ishocon/benchmark_wrap.sh

