[Service]
Environment=PORT=80
Environment=GIN_MODE=release
EnvironmentFile=/home/ishocon/.bashrc
WorkingDirectory=/home/ishocon/webapp/go
ExecStart=/home/ishocon/webapp/go/webapp
ExecStartPre=rm -f /tmp/webapp.sock
Restart=always
User=root
Group=root
